## Imports

In [3]:
import pandas as pd
import csv
import numpy as np

## Load dataset

In [6]:
#Path where the database is
path="train_balanced_processed.csv"
#path_test = "dataset/test_data_A.csv"
#reading the database
df= pd.read_csv(path, nrows= 100000)
#df_test=pd.read_csv(path_test, delimiter='|')

## Training

In [7]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)
x = df.loc[:, df.columns != 'label']
y = df.loc[:, df.columns == 'label']
y=np.array(y)

In [8]:
df

,label,uid,slot_id,app_first_class,app_second_class,age,city_rank,device_size,net_type,his_app_size,...,3,4,5,6,7,8,9,device_size_binned,emui_dev_binned,list_time_binned
0,0,2078912,11,4,25,7,3,141,2,9,...,1,1,1,1,1,1,1,0,2,2
1,0,1029564,21,4,21,5,3,141,2,14,...,1,1,1,1,1,1,1,0,0,3
2,0,1952180,13,4,21,3,4,117,2,14,...,0,0,1,1,1,1,1,0,4,1
3,0,2046795,12,4,26,4,5,193,3,5,...,0,0,0,1,1,1,1,1,0,4
4,1,2013717,16,4,17,6,4,156,2,6,...,0,0,1,1,1,1,1,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0,1684005,14,4,21,5,3,141,2,4,...,1,1,1,1,1,1,1,0,2,2
99996,0,1903126,13,4,17,4,3,193,2,2,...,1,1,1,1,1,1,1,1,2,4
99997,0,1784447,16,4,21,5,5,141,2,6,...,1,1,1,1,1,1,1,0,2,2
99998,0,1105078,16,4,25,6,5,141,3,16,...,1,1,1,1,1,1,1,0,2,2
99999,1,1505637,12,4,21,7,3,156,2,14,...,1,1,1,1,1,1,1,1,0,3

In [9]:
from sklearn.model_selection import KFold
from sklearn.metrics import confusion_matrix, classification_report, f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [14]:
k = 5
kf = KFold(n_splits=k)

'''
models = {"Logistic Regression":LogisticRegression(multi_class="auto", solver="lbfgs", max_iter=2000), \
          "Decision Tree": DecisionTreeClassifier(), \
          "Random Forest": RandomForestClassifier(n_estimators=100), \
          "Nearest Neighbors": KNeighborsClassifier(n_neighbors=5), \
          "Perceptron": MLPClassifier(max_iter=2000)}
'''

models = {"Logistic Regression":LogisticRegression(multi_class="auto", solver="lbfgs", max_iter=2000), \
          "Decision Tree": DecisionTreeClassifier(), \
          "Random Forest": RandomForestClassifier(n_estimators=100), \
          "Nearest Neighbors": KNeighborsClassifier(n_neighbors=5), \
          "Perceptron": MLPClassifier(max_iter=2000)}

for name in models:
    print("Start training models of {}".format(name))
    i = 0
    f1_global = []
    for train, test in kf.split(x):
        i+=1
        x_train, x_test, y_train, y_test = x[train], x[test], y[train], y[test]
        model = models[name].fit(x_train,y_train)
        y_out = model.predict(x_test)
        print("Log Loss",metrics.log_loss(y_test,LR.predict_proba(X_test)))
        # We have to provide the real value of the target and the model's output
        f1_global.append(f1_score(y_test, y_out, average="weighted"))
        print(confusion_matrix(y_test, y_out))
        print(classification_report(y_test, y_out))
    print("Global: f1={:.4f}\n".format(np.average(f1_global)))

Start training models of Logistic Regression

KeyError: "None of [Int64Index([20000, 20001, 20002, 20003, 20004, 20005, 20006, 20007, 20008,\n            20009,\n            ...\n            99990, 99991, 99992, 99993, 99994, 99995, 99996, 99997, 99998,\n            99999],\n           dtype='int64', length=80000)] are in the [columns]"

<generator object _BaseKFold.split at 0x0000029A75050448>