In [1]:
import pandas as pd
import csv
import numpy as np
import random
import pickle

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
dtype_list=pickle.load(open('type/train.pkl','rb'))

In [4]:
#Path where the database is
path="../../dataset/train_data.csv"

#reading the database
df = pd.read_csv(path,header=0,dtype=dtype_list,delimiter='|')

In [5]:
df.label.value_counts()

0    40461645
1     1445488
Name: label, dtype: int64

In [6]:
df1=df[df.label==1].sample(frac=1)

In [7]:
del df

In [8]:
p=0.1

#Path where the database is
path="../../dataset/train_data.csv"

#reading the database
df = pd.read_csv(path,header=0, skiprows=lambda i: i>0 and random.random() > p,dtype=dtype_list,delimiter='|')

In [9]:
df.label.value_counts()

0    4047847
1     145027
Name: label, dtype: int64

In [10]:
df0=df[df.label==0].sample(frac=1).iloc[0:len(df1)]

In [11]:
del df

In [19]:
dffinal=df1.append(df0, ignore_index=True).sample(frac=1).reset_index(drop=True)

In [20]:
dffinal

,label,uid,task_id,adv_id,creat_type_cd,adv_prim_id,dev_id,inter_type_cd,slot_id,spread_app_id,tags,app_first_class,app_second_class,age,city,city_rank,device_name,device_size,career,gender,net_type,residence,his_app_size,his_on_shelf_time,app_score,emui_dev,list_time,device_price,up_life_duration,up_membership_grade,membership_life_duration,consume_purchase,communication_onlinerate,communication_avgonline_30d,indu_name,pt_d
0,0,2148336,2853,1347,7,147,29,5,12,86,37,4,21,3,-110,4,87,117,2,2,2,38,4,3,2,28,5,4,20,-1,-1,2,0^1^2^3^4^5^6^7^8^9^10^11^12^13^14^15^16^17^18...,13,17,2
1,1,1115467,5700,4569,6,118,60,3,12,67,19,2,12,5,-61,3,82,117,9,2,3,21,-1,-1,1,14,9,3,18,-1,-1,2,1^2^3^4^5^6^7^8^9^10^11^12^13^14^15^16^17^18^1...,12,34,4
2,0,2108714,2887,2213,7,185,12,5,21,63,42,4,17,6,-87,3,65,141,9,4,2,14,9,3,2,20,10,2,-1,-1,-1,2,6^7^8^9^10^11^12^13^14^15^16^17^18^19^20^21^22^23,11,25,5
3,1,1933373,3927,3434,6,156,56,5,18,58,37,4,21,7,-48,3,64,156,9,2,2,14,14,3,2,14,13,2,-1,-1,-1,2,5^6^7^8^9^10^11^12^13^14^15^16^17^18^19^20^21^...,9,17,5
4,1,1072245,3494,4779,7,193,37,5,13,50,37,4,21,5,36,4,57,193,4,2,2,46,6,3,2,14,13,2,-1,-1,-1,2,6^7^8^9^10^11^12^13^14^15^16^17^18^19^20^21^22^23,10,17,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2890971,1,1268374,3854,3367,7,207,17,5,12,13,37,4,21,7,114,5,46,141,9,2,2,26,4,2,2,14,13,2,18,-1,-1,2,0^1^2^3^4^5^6^7^8^9^10^11^12^13^14^15^16^17^18...,13,17,2
2890972,1,1333240,2727,1664,7,130,30,5,12,28,39,4,17,5,-63,5,20,193,4,2,2,20,6,2,2,20,15,4,20,-1,-1,2,6^7^8^9^10^11^12^13^14^15^16^17^18^19^20^21^22^23,12,36,2
2890973,1,1738257,4335,5710,7,150,17,5,12,11,39,4,17,6,-63,5,46,141,4,2,2,20,6,3,2,14,10,3,20,-1,-1,2,1^2^3^4^5^6^7^8^9^10^11^12^13^14^15^16^17^18^1...,12,36,3
2890974,1,1532595,4658,3035,7,193,37,5,12,50,37,4,21,7,58,3,26,156,9,2,2,29,6,3,2,14,12,1,-1,-1,-1,2,3^4^5^6^7^8^9^10^11^12^13^14^15^16^17^18^19^20...,12,17,7
2890975,1,2227359,3649,1622,7,207,17,5,17,13,37,4,21,4,-49,5,102,141,4,2,2,32,4,3,2,27,12,4,18,-1,-1,2,2^3^4^5^6^7^8^9^10^11^12^13^14^15^16^17^18^19^...,12,17,6

In [21]:
dffinal.label.value_counts()

1    1445488
0    1445488
Name: label, dtype: int64

In [23]:
dffinal.groupby('pt_d').label.mean()

pt_d
1    0.523847
2    0.506131
3    0.491122
4    0.490474
5    0.476560
6    0.502260
7    0.505593
Name: label, dtype: float64

In [24]:
dffinal.to_csv('../../dataset/train_data_balance_todos.csv',index=False)