![](files/images/EscUpmPolit_p.gif "UPM")

## Imports

In [1]:
import pandas as pd
import csv
import numpy as np

## Reading data

In [2]:
#Path where the database is
path="../../dataset/train_data.csv"

#reading the database
df_train=pd.read_csv(path, delimiter='|',nrows=1000000)

In [3]:
#Path where the database is
path="../../dataset/test_data.csv"

#reading the database
df_test=pd.read_csv(path, delimiter='|')

## Balance

In [4]:
df1=df_train[df_train.label==1]
df0=df_train[df_train.label==0]
df0=df0.iloc[0:len(df1)]
df_train=df1.append(df0, ignore_index=True)
df_train=df_train.sample(frac=1)
df_train=df_train.reset_index()

## Missing Values - Train

In [5]:
df_train.drop(df_train[df_train.communication_avgonline_30d==-1].index,inplace=True)
df_train.drop(df_train[df_train.device_price==-1].index,inplace=True)
df_train.drop(df_train[df_train.list_time==-1].index,inplace=True)
df_train.drop(df_train[df_train.age==-1].index,inplace=True)

## Concat Train & Test

In [6]:
df_train['type']='train'
df_test['type']='test'

In [7]:
df_train.head()

,index,label,uid,task_id,adv_id,creat_type_cd,adv_prim_id,dev_id,inter_type_cd,slot_id,...,device_price,up_life_duration,up_membership_grade,membership_life_duration,consume_purchase,communication_onlinerate,communication_avgonline_30d,indu_name,pt_d,type
0,8996,1,1339454,1817,2242,3,210,70,4,17,...,4,20,-1,-1,2,8^9^10^11^12^13^14^15^16^17^18^19^20^21^22^23,10,27,1,train
1,49977,0,1816328,2731,6648,3,110,38,5,17,...,2,-1,-1,-1,2,5^6^7^8^9^10^11^12^13^14^15^16^17^18^19^20^21^...,11,30,1,train
2,44002,0,1057389,2748,2741,6,132,60,3,14,...,5,18,-1,-1,2,1^2^3^4^5^6^7^8^9^10^11^12^13^14^15^16^17^18^1...,12,47,1,train
3,13344,1,1404006,3744,2227,3,142,36,5,12,...,3,14,-1,-1,2,0^1^2^3^4^5^6^7^8^9^10^11^12^13^14^15^16^17^18...,12,42,1,train
4,9822,1,1333372,1847,6428,7,178,17,5,12,...,2,18,-1,-1,2,0^1^2^3^4^5^6^7^8^9^10^11^12^13^14^15^16^17^18...,13,36,1,train

In [8]:
df_test.head()

,id,uid,task_id,adv_id,creat_type_cd,adv_prim_id,dev_id,inter_type_cd,slot_id,spread_app_id,...,device_price,up_life_duration,up_membership_grade,membership_life_duration,consume_purchase,communication_onlinerate,communication_avgonline_30d,indu_name,pt_d,type
0,1,1804331,3577,5884,7,207,17,5,13,13,...,3,-1,-1,-1,2,3^4^5^6^7^8^9^10^11^12^13^14^15^16^17^18^19^20...,12,17,8,test
1,2,1692064,2926,4168,3,142,36,5,17,80,...,4,18,-1,-1,2,7^8^9^10^11^12^13^14^15^16^17^18^19^20^21^22^23,11,42,8,test
2,3,2080926,3869,6751,7,130,30,5,19,28,...,3,20,-1,-1,2,5^6^7^8^9^10^11^12^13^14^15^16^17^18^19^20^21^...,11,36,8,test
3,4,1273981,2763,3547,7,156,56,5,17,58,...,4,-1,-1,-1,2,6^7^8^9^10^11^12^13^14^15^16^17^18^19^20^21^22^23,10,17,8,test
4,5,1792927,1193,3734,7,178,17,5,12,70,...,2,18,-1,-1,2,7^8^9^10^11^12^13^14^15^16^17^18^19^20^21^22^23,11,36,8,test

In [9]:
df=df_test.append(df_train, ignore_index=True)

In [13]:
df.tail()

,id,uid,task_id,adv_id,creat_type_cd,adv_prim_id,dev_id,inter_type_cd,slot_id,spread_app_id,...,up_membership_grade,membership_life_duration,consume_purchase,communication_onlinerate,communication_avgonline_30d,indu_name,pt_d,type,index,label
1074291,NaN,2144834,3066,5863,7,134,55,4,14,65,...,-1,-1,2,7^8^9^10^11^12^13^14^15^16^17^18^19^20^21^22^23,9,14,1,train,66443.0,0.0
1074292,NaN,1353619,3617,1506,3,210,70,4,17,88,...,1,-1,5,2^3^4^5^6^7^8^9^10^11^12^13^14^15^16^17^18^19^...,12,27,1,train,51625.0,0.0
1074293,NaN,2024845,4143,3744,8,142,36,5,17,80,...,-1,-1,2,5^6^7^8^9^10^11^12^13^14^15^16^17^18^19^20^21^...,11,42,1,train,33680.0,1.0
1074294,NaN,1466529,3402,1430,6,170,60,3,17,78,...,-1,-1,2,5^6^7^8^9^10^11^12^13^14^15^16^17^18^19^20^21^...,11,24,1,train,10400.0,1.0
1074295,NaN,1996184,1264,5713,7,142,36,4,17,80,...,-1,-1,2,0^1^2^3^4^5^6^7^8^9^10^11^12^13^14^15^16^17^18...,11,42,1,train,51432.0,0.0

## Missing Values

In [14]:
df.shape

(1074296, 39)

In [15]:
nullvalues=(df==-1).sum(axis=0).sort_values(ascending=False)
nullvalues.head(10)

membership_life_duration       1072642
up_membership_grade             946687
up_life_duration                309960
his_app_size                    259435
his_on_shelf_time               259435
communication_avgonline_30d       1881
device_price                      1398
list_time                         1398
age                               1398
adv_prim_id                          0
dtype: int64

In [16]:
df.drop(['index','membership_life_duration','up_membership_grade','up_life_duration','his_on_shelf_time','his_app_size'],axis=1,inplace=True)

## Dummies

In [ ]:
df = pd.get_dummies(df, columns=['gender'])
df = pd.get_dummies(df, columns=['city'])
df = pd.get_dummies(df, columns=['career'])
df = pd.get_dummies(df, columns=['residence'])
df = pd.get_dummies(df, columns=['device_name'])
df = pd.get_dummies(df, columns=['task_id'])
df = pd.get_dummies(df, columns=['adv_prim_id'])
df = pd.get_dummies(df, columns=['dev_id'])
df = pd.get_dummies(df, columns=['spread_app_id'])
df = pd.get_dummies(df, columns=['tags'])
df = pd.get_dummies(df, columns=['indu_name'])
df = pd.get_dummies(df, columns=['adv_id'])
df = pd.get_dummies(df, columns=['inter_type_cd'])
df = pd.get_dummies(df, columns=['creat_type_cd'])
pd.set_option('display.max_columns', None)
df

In [ ]:
df['communication_onlinerate']=df['communication_onlinerate'].apply(lambda x:x.split('^'))
dummy=pd.get_dummies(df['communication_onlinerate'].apply(pd.Series).stack()).sum(level=0)
df = pd.concat([df, dummy], axis=1)
df = df.drop('communication_onlinerate',axis=1)
df.head()

## Bins

In [ ]:
df['device_size_binned']=pd.cut(df['device_size'], 5,labels=False)
df['emui_dev_binned']=pd.cut(df['emui_dev'], 5,labels=False)
df['list_time_binned']=pd.cut(df['list_time'], 5,labels=False)

In [ ]:
df.device_size_binned.value_counts()

In [ ]:
df.emui_dev_binned.value_counts()

In [ ]:
df.list_time_binned.value_counts()

## Separate Train & Test

In [ ]:
df_train=df[df.type='Train']
df_test=df[df.type='Test']
df_train.drop('type',axis=1,inplace=True)
df_test.drop('type',axis=1,inplace=True)

In [ ]:
x_train = df_train.loc[:, df_train.columns != 'label']
y_train = df_train.loc[:, df_train.columns == 'label']
y_train=np.array(y_train)

In [ ]:
x_test = df_test.loc[:, df_test.columns != 'label']
y_test = df_test.loc[:, df_test.columns == 'label']

## Standard

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler=MinMaxScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)

## Classifier

In [ ]:
from sklearn.model_selection import KFold
from sklearn.metrics import confusion_matrix, classification_report, f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [ ]:
model = LogisticRegression(multi_class="auto", solver="lbfgs", max_iter=2000)
model.fit(x_train,y_train)

In [ ]:
import pickle
pickle.dump(model,open('model/model3107.pkl','wb'))

In [ ]:
y_out=model.predict(x_test)
y_out=model.predict_proba(x_test)